<!DOCTYPE html>
<html>
<head>
    <title>Feagen - Insight BDD Test</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
	<link rel="stylesheet" href="css/feagen.css">

	<!--menu label setting -->
	<script src="js/menu.js"></script>
	<script src="js/feagen.js"></script>
	<script src="js/code.handler.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<!--angular js-->
	<!--script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"></script-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


	<script>
		var myApp1;
		myApp1 = myApp1 || (function () {
			var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Processing...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
			return {
				showPleaseWait: function() {
					pleaseWaitDiv.modal();
				},
				hidePleaseWait: function () {
					pleaseWaitDiv.modal('hide');
				},

			};
		})();
		
		/*myAppModule.controller('assertController', function($scope) {
			$scope.data = [
				{name:'Jani',country:'Norway'},
				{name:'Hege',country:'Sweden'},
				{name:'Kai',country:'Denmark'}
			];
		});*/

		//angular js inject data
		var myAppModule = angular.module('myApp', []);
		var datactrl = function behaviorController($http,$scope,$timeout) {
			//initial data display
			//$http.get(globalFolder+"/temp/loginPageStep.json").success(function(data) {
			var defaultStartPage = globalFolder+"/temp/loginPageStep.json";
			/*$http.get(defaultStartPage).success(function(data) {
				$scope.data = data;
				console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!");
				console.log(data);
				//console.log(JSON.stringify(data));
			});		*/

			$scope.updateModel = function(choosen) {
				//$http.get("C:/Users/XIN/Desktop/node webkit/myNodeWebkitApps/feagen/temp/test.json").success(function(data) {
				$http.get(choosen).success(function(data) {
					$scope.selected_id = choosen;
					$scope.data = data;
					//console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"+$scope.selected_id);
					console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"+choosen);
					setTimeout('enableDragAndDrop()',200); //must add the timeout, no update real time, it is stupid
				});
				/*$http.get(choosen).then(function(response) {
					$scope.data = response.data;
					console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"+choosen);
					//$scope.$digest;
					setTimeout('enableDragAndDrop()',100); //must add the timeout, no update real time, it is stupid
					// success handler
				}, function(response) {
					console.log("???????????????????????????????????????????????????"+choosen);
					// error handler
				});	*/
			};
			//$scope.options = walk(globalFolder+"/temp");
			//$scope.options = optionRefresh();
			$scope.options = [];

			$scope.updateOptions = function(){
				$scope.options = optionRefresh();
				console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"+defaultStartPage);
				$scope.$apply();
				$http.get(defaultStartPage).success(function(data) {
					$scope.selected_id = defaultStartPage;
					$scope.data = data;
					console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"+$scope.selected_id);
					setTimeout('enableDragAndDrop()',200); //must add the timeout, no update real time, it is stupid
				});
			};

			$scope.applyAll = function(){
				$scope.$apply();
			}
			
			// custom filter to get behavior, show 'Given', 'When' and 'And' content
			$scope.behaviorFilter = function(jsondata) {
				return jsondata.flag === "When" || jsondata.flag === "And" || jsondata.flag === "Given";
			};

			//get total file list here
			/*$scope.options = [
			  {path:1, abbr:'Starbuck'},
			  {path:2, abbr:'Appolo'},
			  {path:3, abbr:'Saul Tigh'},
			  {path:4, abbr:'Adama'}
			]*/
		}
		myAppModule.controller('stepController', datactrl);
	</script>
</head>

<body ng-app="myApp">
    <div class="modal-header">
		<h4 class="modal-title">Feature Generate Tool</h4>
    </div>
	<div class="modal-body" ng-controller="stepController">
		<div class="header text-left">
			<b>1. Workspace: </b>
		</div>
		<span class="help-block">Choose the workspace root which run the bdd testing</span>
		<div class="input-group">
			<input id="upload-file-info" placeholder="select the workspace root, such as insight_test..." type="text" class="form-control" disabled="disabled">
			<span class="input-group-btn">
				<button class="btn btn-primary" onclick="$('input[id=save-img]').click()">Choose folder</button>
			</span>
			<span class="input-group-btn">
				<!--button type="button" class="btn btn-success" onclick="readFile($('#upload-file-info').val());">Code analyze</button-->
				<button id="codeAnalyzeBtn" type="button" class="btn btn-success" onclick="codeAnalyze($('#upload-file-info').val());">Code analyze</button>
			</span>
			<!--input id="save-img" onchange='$("#upload-file-info").val($(this).val());' style="display:none" type="file" -->
			<input id="save-img" onchange='$("#upload-file-info").val($(this).val());' style="display:none" type="file" nwdirectory>
		</div>
		<!--div class="progress">
			<div id="codeAnalyzeBar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only">45% Complete</span>
			</div>
		</div-->

		<div class="header text-left">
			<b>2. Current step: </b>
		</div>
		<span class="help-block">Choose the current step, the default beginning step is loginPageStep</span>
		<select id="stepOptions" class="form-control" style="width:300px" ng-change="updateModel(selected_id)" ng-options="item.path as item.abbr for item in options" ng-model="selected_id" >
			<!--option>loginPageStep mock</option>
			<option>homePageStep mock</option>
			<option>tcrPageStep mock</option>
			<option>p4pPageStep mock</option>
			<option>tsr mock</option-->
		</select>

		<!--div class="dropdown">
			<button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Custom step
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dLabel">
				<li><a href="#">loginPageStep mock</a></li>
				<li><a href="#">homePageStep mock</a></li>
				<li><a href="#">tcrPageStep mock</a></li>
				<li><a href="#">p4pPageStep mock</a></li>
			</ul>
		</div-->

		<div>
			<div class="header text-left">
				<br>
				<b>3. Feature create: </b>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addStepModal" style="position:absolute;left:700px;">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" onclick="removeLastStep();" style="position:absolute;left:750px;">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
				</button>
				<button type="button" class="btn btn-default" onclick="cleanFeature();" style="position:absolute;left:800px;">
					<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
				</button>
			</div>
			<div id="container">
				<!--div class="row" style="position:relative;left:13px;"-->
				<div class="row">
					<br>
					<div id="behaviors" class="panel panel-success col-xs-3">
						<div class="panel-heading text-center">BEHAVIOR</div>
						<ul class="list-group" id="mysort1">
							<li class="list-group-item" ng-repeat="x in data | filter:behaviorFilter" flag="{{x.flag}}" methodName="{{x.methodName}}" regularExpress="{{x.regularExpress}}" linkTo="{{x.linkTo}}">
								<!--{{x.methodName.slice(0,20) + '...'}} -->
								{{x.regularExpress.slice(0,60)}}
							</li>
							<!--li class="list-group-item" ng-click="updateModel()"><span class="badge">14</span>login as equilar user</li>
							<li class="list-group-item">login as corporate</li>
							<li class="list-group-item">login as consultant</li>
							<li class="list-group-item">login as ssp</li>
							<li class="list-group-item">login as company override</li-->
						</ul>
					</div>
					<div id="asserts" class="panel panel-warning col-xs-3">
						<div class="panel-heading text-center">ASSERTS</div>
						<ul class="list-group" id="mysort2">
							<li class="list-group-item" ng-repeat="x in data | filter:{flag:'Then'}" flag="{{x.flag}}" methodName="{{x.methodName}}" regularExpress="{{x.regularExpress}}" linkTo="{{x.linkTo}}">
								{{x.regularExpress.slice(0,60)}}
							</li>
							<!--li class="list-group-item">phone number is XXX-XXX-XXXX</li>
							<li class="list-group-item">name is Equilar</li>
							<li class="list-group-item">has login image</li-->
						</ul>
					</div>
					<div id="featureSteps" class="panel panel-info col-xs-3 col-xs-offset-1">
						<div class="panel-heading text-center">FEATURE STEPS</div>
						<ol class="list-group" id="mysort3">
							<!--li class="list-group-item">...</li-->
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<!--button id="generateBtn" type="button" class="btn btn-primary" onclick="runTest();">Generate feature</button-->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="generateFeature();">Generate feature</button>
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Generate feature</h4>

			  </div>
			  <div class="modal-body">
				<!--label class="col-sm-2 control-label" for="formGroupInputLarge">Large label</label>
				<div class="col-sm-10">
				  <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Large input">
				</div-->
				<!--textarea id="featureText" class="form-control" rows="10" style="resize:none;">here should display a real time final feature text</textarea-->
				<textarea id="featureText" class="form-control" rows="10" style="resize:none;overflow:fix;">here should display a real time final feature text</textarea>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="saveAs" type="button" class="btn btn-default">Save As</button>
				<button type="button" class="btn btn-primary" onclick="runTest();">Run Test</button>
			  </div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="reModal" tabindex="-1" role="dialog" aria-labelledby="reModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header" id="reModalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="reModalLabel">Regular Express Replace</h4>

			  </div>
			  <div class="modal-body" id="replaceLocator">
				 <!--input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe"-->
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="handleRegularExpressString();">Replace</button>
			  </div>
			</div>
		  </div>
		</div>

		<div class="modal fade" id="addStepModal" tabindex="-1" role="dialog" aria-labelledby="addStepModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header" id="addStepModalHeader">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addStepModalLabel">Add New Step</h4>

			  </div>
			  <div class="modal-body">
				Flag: <input type="text" class="form-control" id="stepFlag" placeholder="enter new step flag: when/then">
				Step: <input type="text" class="form-control" id="stepContent" placeholder="enter new step content">
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="addNewStep();">Add</button>
			  </div>
			</div>
		  </div>
		</div>

	</div>
</body>
</html>
